<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sheryjs/dist/Shery.css"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <div class="background">
        <img src="/Assets/IMG_7567.JPG" />
        <img src="/Assets/IMG_7564.JPG" />
        <img src="/Assets/IMG_7565.JPG" />
        <img src="/Assets/IMG_7566.JPG" />
        <img src="/Assets/IMG_7568.JPG" />
      </div>
      <div class="main_content">
        <div class="navbar">
          <img src="/Assets/raybanlogo.png" alt="Logo" />
          <div class="nav-left">
            <ul>
              <li>Home</li>
              <li>Pricing</li>
              <li>Join Us</li>
            </ul>
          </div>
          <div class="nav-right">
            <ul>
              <li>Description</li>
              <li>Sign Up</li>
            </ul>
          </div>
        </div>
        <div class="main-body">
          <div class="content">
            <div class="elem">
              <h1>Upgrade your style</h1>
              <h1>Get ready for</h1>
              <h1>Iconic</h1>
              <h1>Experience</h1>
              <h1>Shop now</h1>
            </div>
            <div class="elem">
              <h1>with Ray-Ban</h1>
              <h1>sunny days</h1>
              <h1>Ray-Ban shades</h1>
              <h1>UV protection</h1>
              <h1>for the latest</h1>
            </div>
            <div class="elem">
              <h1>sunglasses.</h1>
              <h1>with Ray-Ban.</h1>
              <h1>For every occasion.</h1>
              <h1>with Ray-Ban.</h1>
              <h1>Ray-Ban trends.</h1>
            </div>
          </div>
          <div class="sidebar">
            <div class="sidebar-top">
              <img
                src="https://www.reuters.com/resizer/_oKz5K-g4wJOwd38M-GwRtfUSFc=/960x0/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/H7FSQLBUYVMUVMU2SDOYIS42PA.jpg"
                alt="RayBen"
              />
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                odit, aliquid vero, possimus molestias officia reiciendis
                doloribus alias provident sit accusamus porro veritatis neque
                esse quasi magnam suscipit? Sint, deserunt!
              </p>
            </div>
            <div class="sidebar-bottom">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Voluptates quo nemo explicabo illo sed libero eligendi veritatis
                non est nobis a dolor perferendis expedita quasi earum atque,
                sequi veniam quis?
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  Gsap is needed for Basic Effects -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>

    <!-- Scroll Trigger is needed for Scroll Effects -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>

    <!-- Three.js is needed for 3d Effects -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.155.0/three.min.js"></script>

    <!-- ControlKit is needed for Debug Panel -->
    <script src="https://cdn.jsdelivr.net/gh/automat/controlkit.js@master/bin/controlKit.min.js"></script>
    <!-- sherry js -->
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/sheryjs/dist/Shery.js"
    ></script>
    <!-- Personal js -->
    <script src="script.js"></script>
  </body>
</html>
