* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body,
html {
  height: 100%;
  width: 100%;
}
.main {
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.background img {
  /* height: 100%; */
  width: 100%;
  /* background-color: black; */
  object-fit: cover;
  overflow: hidden;
}
.main_content {
  position: absolute;
  z-index: auto;
  height: 100%;
  width: 90%;
  background-color: transparent;
}
.navbar {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  text-transform: uppercase;
  /* background-color: red; */
}
.nav-left img {
  height: 10vh;
  cursor: pointer;
}
.nav-left ul li {
  text-decoration: none;
  list-style-type: none;
  border: 2px solid white;
  border-radius: 8.5px;
  padding: 1rem;
  cursor: pointer;
}
.nav-right ul li {
  text-decoration: none;
  list-style-type: none;
  border: 2px solid white;
  border-radius: 8.5px;
  padding: 1rem;
  cursor: pointer;
}
.nav-left {
  display: flex;
  align-items: center;
}
.nav-left ul {
  display: flex;
  gap: 1vw;
}
.nav-right {
  display: flex;
  align-items: center;
}
.nav-right ul {
  display: flex;
  gap: 1vw;
}

.main-body {
  height: 90vh;
  display: flex;
  justify-content: space-between;
}
.main_content .content {
  height: 80%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5%;
  /* border: 2px solid black; */
}
.content .elem {
  position: relative;
  height: 9vh;
  overflow: hidden;
}
.content .elem h1:nth-child(1){
  top: 0;
}
.content .elem h1 {
  font-size: 4vw;
  position: absolute;
  top: 100%;
  left: 0;
  color: white;
  /* line-height: 0.9; */
}
.main_content .sidebar {
  height: 80%;
  width: 40%;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.sidebar-top,
.sidebar-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.main_content .sidebar-top img {
  border-radius: 10px;
}
.main_content .sidebar-top img,
p {
  width: 25%;
  /* border: 2px solid black; */
  margin-top: 2%;
  margin-right: 10%;
}
